<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

Redirect 301 /banks/tinkoff/credit-cards https://finance.ru/banki/tinkoff/kreditnye-karty
Redirect 301 /banks/euroalliance/reviews https://finance.ru/banki/tinkoff/kreditnye-karty
Redirect 301 /banks/pochtabank/reviews https://finance.ru/banki/pochtabank/otzyvy
Redirect 301 /banks/vbrr/credits https://finance.ru/banki
Redirect 301 /banks/abr/reviews https://finance.ru/banki
Redirect 301 /banks/abr https://finance.ru/banki
Redirect 301 /banks/tinkoff https://finance.ru/banki/tinkoff
Redirect 301 /banks/bank-hlynov/reviews https://finance.ru/banki
Redirect 301 /banks/rgsbank https://finance.ru/banki
Redirect 301 /banks/euroalliance/credits https://finance.ru/banki

Redirect 301 /banks/crediteurope/credits https://finance.ru/banki/crediteurope/kredity
Redirect 301 /banks/gazprombank/credits https://finance.ru/banki/gazprombank/kredity
Redirect 301 /banks/lockobank/credits https://finance.ru/banki/lockobank/kredity
Redirect 301 /banks/nico-bank/credits https://finance.ru/banki/nico-bank/kredity
Redirect 301 /banks/open/credits https://finance.ru/banki/open/kredity
Redirect 301 /banks/otpbank/credits https://finance.ru/banki/otpbank/kredity
Redirect 301 /banks/psbank/credits https://finance.ru/banki/psbank/kredity
Redirect 301 /banks/rencredit/credits https://finance.ru/banki/rencredit/kredity
Redirect 301 /banks/rncb/credits https://finance.ru/banki/rncb/kredity
Redirect 301 /banks/rosbank/credits https://finance.ru/banki/rosbank/kredity
Redirect 301 /banks/rsb/credits https://finance.ru/banki/rsb/kredity
Redirect 301 /banks/sberbank/credits https://finance.ru/banki/sberbank/kredity
Redirect 301 /banks/uralsib/credits https://finance.ru/banki/uralsib/kredity
Redirect 301 /banks/vtb/credits https://finance.ru/banki/vtb/kredity
Redirect 301 /banks/aktivbank/credits https://finance.ru/kredity
Redirect 301 /banks/bancaintesa/credits https://finance.ru/kredity
Redirect 301 /banks/bankdolinsk/credits https://finance.ru/kredity
Redirect 301 /banks/banksoyuz/credits https://finance.ru/kredity
Redirect 301 /banks/centrinvest/credits https://finance.ru/kredity
Redirect 301 /banks/chelindbank/credits https://finance.ru/kredity
Redirect 301 /banks/databank/credits https://finance.ru/kredity
Redirect 301 /banks/dcapital/credits https://finance.ru/kredity
Redirect 301 /banks/gebank/credits https://finance.ru/kredity
Redirect 301 /banks/genbank/credits https://finance.ru/kredity
Redirect 301 /banks/kbhmb/credits https://finance.ru/kredity
Redirect 301 /banks/kk-bank/credits https://finance.ru/kredity
Redirect 301 /banks/kkb/credits https://finance.ru/kredity
Redirect 301 /banks/ks-bank/credits https://finance.ru/kredity
Redirect 301 /banks/metallinvestbank/credits https://finance.ru/kredity
Redirect 301 /banks/mtsbank/credits https://finance.ru/kredity
Redirect 301 /banks/neyvabank/credits https://finance.ru/kredity
Redirect 301 /banks/nokss/credits https://finance.ru/kredity
Redirect 301 /banks/norvikbank/credits https://finance.ru/kredity
Redirect 301 /banks/poidem/credits https://finance.ru/kredity
Redirect 301 /banks/pskb/credits https://finance.ru/kredity
Redirect 301 /banks/rgsbank/credits https://finance.ru/kredity
Redirect 301 /banks/smpbank/credits https://finance.ru/kredity
Redirect 301 /banks/solidbank/credits https://finance.ru/kredity
Redirect 301 /banks/uralprombank/credits https://finance.ru/kredity
Redirect 301 /banks/vostbank/credits https://finance.ru/kredity
Redirect 301 /banks/vuzbank/credits https://finance.ru/kredity
Redirect 301 /banks/zenit/credits https://finance.ru/kredity

Redirect 301 /banks/atb/credit-cards https://finance.ru/banki/atb/kreditnye-karty
Redirect 301 /banks/crediteurope/credit-cards https://finance.ru/banki/crediteurope/kreditnye-karty
Redirect 301 /banks/domrfbank/credit-cards https://finance.ru/banki/domrfbank/kreditnye-karty
Redirect 301 /banks/gazprombank/credit-cards https://finance.ru/banki/gazprombank/kreditnye-karty
Redirect 301 /banks/homecredit/credit-cards https://finance.ru/banki/homecredit/kreditnye-karty
Redirect 301 /banks/mkb/credit-cards https://finance.ru/banki/mkb/kreditnye-karty
Redirect 301 /banks/nico-bank/credit-cards https://finance.ru/banki/nico-bank/kreditnye-karty
Redirect 301 /banks/nskbl/credit-cards https://finance.ru/banki/nskbl/kreditnye-karty
Redirect 301 /banks/otpbank/credit-cards https://finance.ru/banki/otpbank/kreditnye-karty
Redirect 301 /banks/psbank/credit-cards https://finance.ru/banki/psbank/kreditnye-karty
Redirect 301 /banks/raiffeisen/credit-cards https://finance.ru/banki/raiffeisen/kreditnye-karty
Redirect 301 /banks/rncb/credit-cards https://finance.ru/banki/rncb/kreditnye-karty
Redirect 301 /banks/rosbank/credit-cards https://finance.ru/banki/rosbank/kreditnye-karty
Redirect 301 /banks/sovcombank/credit-cards https://finance.ru/banki/sovcombank/kreditnye-karty
Redirect 301 /banks/ubrr/credit-cards https://finance.ru/banki/ubrr/kreditnye-karty
Redirect 301 /banks/unicreditbank/credit-cards https://finance.ru/banki/unicreditbank/kreditnye-karty
Redirect 301 /banks/uralsib/credit-cards https://finance.ru/banki/uralsib/kreditnye-karty
Redirect 301 /banks/akibank/credit-cards https://finance.ru/banki
Redirect 301 /banks/alexbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/aversbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/databank/credit-cards https://finance.ru/banki
Redirect 301 /banks/finambank/credit-cards https://finance.ru/banki
Redirect 301 /banks/finsb/credit-cards https://finance.ru/banki
Redirect 301 /banks/forshtadt/credit-cards https://finance.ru/banki
Redirect 301 /banks/kk-bank/credit-cards https://finance.ru/banki
Redirect 301 /banks/metallinvestbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/neyvabank/credit-cards https://finance.ru/banki
Redirect 301 /banks/novikom/credit-cards https://finance.ru/banki
Redirect 301 /banks/promtransbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/pscb/credit-cards https://finance.ru/banki
Redirect 301 /banks/rgsbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/skbbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/thbank/credit-cards https://finance.ru/banki
Redirect 301 /banks/uralfinance/credit-cards https://finance.ru/banki
Redirect 301 /banks/uralprombank/credit-cards https://finance.ru/banki
Redirect 301 /banks/venets-bank/credit-cards https://finance.ru/banki

Redirect 301 /banks/akbars/reviews https://finance.ru/banki/akbars/otzyvy
Redirect 301 /banks/akibank/credit-cards/reviews https://finance.ru/banki/otpbank/otzyvy
Redirect 301 /banks/aktivbank/reviews https://finance.ru/banki/tinkoff/otzyvy
Redirect 301 /banks/bancaintesa/reviews https://finance.ru/banki
Redirect 301 /banks/neyvabank/reviews https://finance.ru/banki
Redirect 301 /banks/norvikbank/reviews https://finance.ru/banki
Redirect 301 /banks/otpbank/reviews https://finance.ru/banki
Redirect 301 /banks/smpbank/reviews https://finance.ru/banki
Redirect 301 /banks/tinkoff/reviews https://finance.ru/banki
Redirect 301 /banks/vuzbank/reviews https://finance.ru/banki

Redirect 301 /banks/akbars https://finance.ru/banki/akbars
Redirect 301 /banks/atb https://finance.ru/banki/atb
Redirect 301 /banks/avangard https://finance.ru/banki/avangard
Redirect 301 /banks/bspb https://finance.ru/banki/bspb
Redirect 301 /banks/crediteurope https://finance.ru/banki/crediteurope
Redirect 301 /banks/domrfbank https://finance.ru/banki/domrfbank
Redirect 301 /banks/gazprombank https://finance.ru/banki/gazprombank
Redirect 301 /banks/lockobank https://finance.ru/banki/lockobank
Redirect 301 /banks/mkb https://finance.ru/banki/mkb
Redirect 301 /banks/modulbank https://finance.ru/banki/modulbank
Redirect 301 /banks/nico-bank https://finance.ru/banki/nico-bank
Redirect 301 /banks/nskbl https://finance.ru/banki/nskbl
Redirect 301 /banks/open https://finance.ru/banki/open
Redirect 301 /banks/otpbank https://finance.ru/banki/otpbank
Redirect 301 /banks/raiffeisen https://finance.ru/banki/raiffeisen
Redirect 301 /banks/rncb https://finance.ru/banki/rncb
Redirect 301 /banks/rosbank https://finance.ru/banki/rosbank
Redirect 301 /banks/rsb https://finance.ru/banki/rsb
Redirect 301 /banks/rshb https://finance.ru/banki/rshb
Redirect 301 /banks/sovcombank https://finance.ru/banki/sovcombank
Redirect 301 /banks/ubrr https://finance.ru/banki/ubrr
Redirect 301 /banks/unicreditbank https://finance.ru/banki/unicreditbank
Redirect 301 /banks/vtb https://finance.ru/banki/vtb
Redirect 301 /banks/mtsbank https://finance.ru/banks/mts
Redirect 301 /banks/absolutbank https://finance.ru/banki
Redirect 301 /banks/akcept https://finance.ru/banki
Redirect 301 /banks/alexbank https://finance.ru/banki
Redirect 301 /banks/aversbank https://finance.ru/banki
Redirect 301 /banks/bancaintesa https://finance.ru/banki
Redirect 301 /banks/bankdolinsk https://finance.ru/banki
Redirect 301 /banks/bbr https://finance.ru/banki
Redirect 301 /banks/bcs-bank https://finance.ru/banki
Redirect 301 /banks/cetelem https://finance.ru/banki
Redirect 301 /banks/chelindbank https://finance.ru/banki
Redirect 301 /banks/chelinvest https://finance.ru/banki
Redirect 301 /banks/databank https://finance.ru/banki
Redirect 301 /banks/dcapital https://finance.ru/banki
Redirect 301 /banks/dvbank https://finance.ru/banki
Redirect 301 /banks/energobank https://finance.ru/banki
Redirect 301 /banks/finambank https://finance.ru/banki
Redirect 301 /banks/finsb https://finance.ru/banki
Redirect 301 /banks/forabank https://finance.ru/banki
Redirect 301 /banks/forshtadt https://finance.ru/banki
Redirect 301 /banks/gebank https://finance.ru/banki
Redirect 301 /banks/genbank https://finance.ru/banki
Redirect 301 /banks/ipb https://finance.ru/banki
Redirect 301 /banks/ipbank https://finance.ru/banki
Redirect 301 /banks/kbhmb https://finance.ru/banki
Redirect 301 /banks/kk-bank https://finance.ru/banki
Redirect 301 /banks/kkb https://finance.ru/banki
Redirect 301 /banks/koshelev-bank https://finance.ru/banki
Redirect 301 /banks/ks-bank https://finance.ru/banki
Redirect 301 /banks/lanta https://finance.ru/banki
Redirect 301 /banks/metallinvestbank https://finance.ru/banki
Redirect 301 /banks/neyvabank https://finance.ru/banki
Redirect 301 /banks/norvikbank https://finance.ru/banki
Redirect 301 /banks/novikom https://finance.ru/banki
Redirect 301 /banks/poidem https://finance.ru/banki
Redirect 301 /banks/psbst https://finance.ru/banki
Redirect 301 /banks/pscb https://finance.ru/banki
Redirect 301 /banks/pskb https://finance.ru/banki
Redirect 301 /banks/rusfinancebank https://finance.ru/banki
Redirect 301 /banks/sdm https://finance.ru/banki
Redirect 301 /banks/severgazbank https://finance.ru/banki
Redirect 301 /banks/skbbank https://finance.ru/banki
Redirect 301 /banks/smpbank https://finance.ru/banki
Redirect 301 /banks/solidbank https://finance.ru/banki
Redirect 301 /banks/timerbank https://finance.ru/banki
Redirect 301 /banks/tkbbank https://finance.ru/banki
Redirect 301 /banks/uralfinance https://finance.ru/banki
Redirect 301 /banks/uralprombank https://finance.ru/banki
Redirect 301 /banks/vlbb https://finance.ru/banki
Redirect 301 /banks/vostbank https://finance.ru/banki
Redirect 301 /banks/vuzbank https://finance.ru/banki

Redirect 301 /loans/mfo/bistrodengi/reviews https://finance.ru/mfo/bistrodengi/otzyvy
Redirect 301 /loans/mfo/boostra/reviews https://finance.ru/mfo/denginadom/otzyvy
Redirect 301 /loans/mfo/cash-u/reviews https://finance.ru/mfo/dengisrazy/otzyvy
Redirect 301 /loans/mfo/clickdengi/reviews https://finance.ru/mfo/dobrozaim/otzyvy
Redirect 301 /loans/mfo/denginadom/reviews https://finance.ru/mfo/dozarplati/otzyvy
Redirect 301 /loans/mfo/dengisrazy/reviews https://finance.ru/mfo/ezaem/otzyvy
Redirect 301 /loans/mfo/dobrozaim/reviews https://finance.ru/mfo/finmoll/otzyvy
Redirect 301 /loans/mfo/dozarplati/reviews https://finance.ru/mfo/finterra/otzyvy
Redirect 301 /loans/mfo/ezaem/reviews https://finance.ru/mfo/microklad/otzyvy
Redirect 301 /loans/mfo/finmoll/reviews https://finance.ru/mfo/migcredit/otzyvy
Redirect 301 /loans/mfo/finterra/reviews https://finance.ru/mfo/vivus/otzyvy
Redirect 301 /loans/mfo/finza/reviews https://finance.ru/mfo/zaymer/otzyvy
Redirect 301 /loans/mfo/microklad/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/migcredit/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/moneyman/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/pscash/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/raketa-dengi/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/robocredit/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/russkiedengi/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/vdplatinum/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/vivus/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/zaim-express/reviews https://finance.ru/mfo
Redirect 301 /loans/mfo/zaymer/reviews https://finance.ru/mfo

Redirect 301 /loans/mfo/bistrodengi https://finance.ru/mfo/bistrodengi
Redirect 301 /loans/mfo/creditplus https://finance.ru/mfo/creditplus
Redirect 301 /loans/mfo/denginadom https://finance.ru/mfo/denginadom
Redirect 301 /loans/mfo/dengisrazy https://finance.ru/mfo/dengisrazy
Redirect 301 /loans/mfo/dobrozaim https://finance.ru/mfo/dobrozaim
Redirect 301 /loans/mfo/dozarplati https://finance.ru/mfo/dozarplati
Redirect 301 /loans/mfo/ekapusta https://finance.ru/mfo/ekapusta
Redirect 301 /loans/mfo/ezaem https://finance.ru/mfo/ezaem
Redirect 301 /loans/mfo/finmoll https://finance.ru/mfo/finmoll
Redirect 301 /loans/mfo/lime-zaim https://finance.ru/mfo/lime-zaim
Redirect 301 /loans/mfo/microklad https://finance.ru/mfo/microklad
Redirect 301 /loans/mfo/migcredit https://finance.ru/mfo/migcredit
Redirect 301 /loans/mfo/moneza https://finance.ru/mfo/moneza
Redirect 301 /loans/mfo/oneclickmoney https://finance.ru/mfo/oneclickmoney
Redirect 301 /loans/mfo/otlnal https://finance.ru/mfo/otlnal
Redirect 301 /loans/mfo/payps https://finance.ru/mfo/payps
Redirect 301 /loans/mfo/turbozaim https://finance.ru/mfo/turbozaim
Redirect 301 /loans/mfo/webbankir https://finance.ru/mfo/webbankir
Redirect 301 /loans/mfo/zaymer https://finance.ru/mfo/zaymer
Redirect 301 /loans/mfo/zaymigo https://finance.ru/mfo/zaymigo
Redirect 301 /loans/mfo/cash-u https://finance.ru/mfo/
Redirect 301 /loans/mfo/cashpoint-kredit https://finance.ru/mfo/
Redirect 301 /loans/mfo/clickdengi https://finance.ru/mfo/
Redirect 301 /loans/mfo/creditronic https://finance.ru/mfo/
Redirect 301 /loans/mfo/dengimigom https://finance.ru/mfo/
Redirect 301 /loans/mfo/fanmoney https://finance.ru/mfo/
Redirect 301 /loans/mfo/fast-finance https://finance.ru/mfo/
Redirect 301 /loans/mfo/finza https://finance.ru/mfo/
Redirect 301 /loans/mfo/konga https://finance.ru/mfo/
Redirect 301 /loans/mfo/ligadeneg https://finance.ru/mfo/
Redirect 301 /loans/mfo/maxcredit https://finance.ru/mfo/
Redirect 301 /loans/mfo/mfo-dvr https://finance.ru/mfo/
Redirect 301 /loans/mfo/migone https://finance.ru/mfo/
Redirect 301 /loans/mfo/mobifinans https://finance.ru/mfo/
Redirect 301 /loans/mfo/molbulak https://finance.ru/mfo/
Redirect 301 /loans/mfo/moneyman https://finance.ru/mfo/
Redirect 301 /loans/mfo/platiza https://finance.ru/mfo/
Redirect 301 /loans/mfo/pscash https://finance.ru/mfo/
Redirect 301 /loans/mfo/raketa-dengi https://finance.ru/mfo/
Redirect 301 /loans/mfo/robocredit https://finance.ru/mfo/
Redirect 301 /loans/mfo/vdplatinum https://finance.ru/mfo/
Redirect 301 /loans/mfo/vivadengi https://finance.ru/mfo/
Redirect 301 /loans/mfo/zaim-express https://finance.ru/mfo/

Redirect 301 /loans/100-procentov-odobreniya https://finance.ru/zaimy/100-protsentnoe-odobrenie
Redirect 301 /loans/18-let https://finance.ru/zaimy
Redirect 301 /loans/200000-rublej-na-kartu https://finance.ru/zaimy/200000-rublej
Redirect 301 /loans/300000-rublej https://finance.ru/zaimy/300000-rublej
Redirect 301 /loans/500-rublej https://finance.ru/zaimy/500-rublej
Redirect 301 /loans/besplatno https://finance.ru/zaimy/bez-protsentov
Redirect 301 /loans/best https://finance.ru/zaimy/luchshie
Redirect 301 /loans/bez-snils https://finance.ru/zaimy/bez-snilsa
Redirect 301 /loans/na-kartu https://finance.ru/zaimy/na-kartu
Redirect 301 /loans/na-kartu-kukuruza https://finance.ru/zaimy/kukuruza
Redirect 301 /loans/na-kartu-momentum https://finance.ru/zaimy/na-kartu
Redirect 301 /loans/na-kartu-pensioneram https://finance.ru/zaimy/na-kartu
Redirect 301 /loans/novye https://finance.ru/zaimy
Redirect 301 /loans/pensioner https://finance.ru/zaimy/pensioneram
Redirect 301 /loans/qiwi https://finance.ru/zaimy/na-kivi-koshelek
Redirect 301 /loans/qiwi-bez-karty https://finance.ru/zaimy
Redirect 301 /loans/studentam https://finance.ru/zaimy/studentam
Redirect 301 /loans/yandex https://finance.ru/zaimy/na-yandeks-dengi
Redirect 301 /loans/yandex-bez-otkaza https://finance.ru/zaimy

Redirect 301 /loans https://finance.ru/zaimy

Redirect 301 /credit-cards/100-procentov-odobreniya https://finance.ru/kreditnye-karty
Redirect 301 /credit-cards/100000-limit https://finance.ru/kreditnye-karty/s-bolshim-limitom
Redirect 301 /credit-cards/18-let https://finance.ru/kreditnye-karty/s-18-let
Redirect 301 /credit-cards/19-let https://finance.ru/kreditnye-karty/s-19-let
Redirect 301 /credit-cards/20000-limit https://finance.ru/kreditnye-karty/s-bolshim-limitom
Redirect 301 /credit-cards/200000-limit https://finance.ru/kreditnye-karty/s-bolshim-limitom
Redirect 301 /credit-cards/besprocentnye https://finance.ru/kreditnye-karty
Redirect 301 /credit-cards/bez-spravok https://finance.ru/kreditnye-karty/bez-spravok
Redirect 301 /credit-cards/dlya-pensionerov https://finance.ru/kreditnye-karty/pensioneram
Redirect 301 /credit-cards/po-dvum-dokumentam https://finance.ru/kreditnye-karty
Redirect 301 /credit-cards/po-pasportu https://finance.ru/kreditnye-karty
Redirect 301 /credit-cards/s-plohoj-kreditnoj-istoriej https://finance.ru/kreditnye-karty/s-plohoj-kreditnoj-istoriej

Redirect 301 /credit-cards https://finance.ru/kreditnye-karty

Redirect 301 /credits/18-let https://finance.ru/kredity/s-18-let
Redirect 301 /credits/bez-otkaza https://finance.ru/kredity/bez-otkaza
Redirect 301 /credits/dlya-biznesa https://finance.ru/kredity
Redirect 301 /credits/na-remont https://finance.ru/kredity/na-remont-kvartir
Redirect 301 /credits/pensioneram https://finance.ru/kredity/pensioneram
Redirect 301 /credits/po-2-dokumentam https://finance.ru/kredity/po-dvum-dokumentam
Redirect 301 /credits/po-pasportu https://finance.ru/kredity/pasport
Redirect 301 /credits/pod-zalog-kvartiry https://finance.ru/kredity/pod-zalog-nedvizhimosti
Redirect 301 /credits/studentu https://finance.ru/kredity/studentam

Redirect 301 /credits https://finance.ru/kredity

<IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
#    RewriteCond %{HTTP:Authorization} .
#    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
