.bank-cat {
    color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 46%;
    height: 95px;
    justify-content: center;
    margin: 1% 2% 1% 2%;
    float: left;
    background-color: white;
}
.bank-cat span {
    width: 100%;
    text-align: center;
}
.bank-cat i{
    font-size: 1.5em;
}
.bank-cat-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    position: relative;
    padding-top: 25px;
}