.short-code-block-with-icon{
    background: #38b6f7;
    background-blend-mode: normal,overlay,overlay,normal,normal,normal,normal;
    background-image: linear-gradient(301deg,rgba(44,34,150,0),#38b6f7),linear-gradient(rgba(0,82,154,0.95),rgba(0,82,154,0.95)),linear-gradient(121deg,#3fcc6f,#3fcc6f),linear-gradient(238deg,rgba(173,32,142,0),#38b6f7),linear-gradient(42deg,rgba(0,190,213,0),rgba(0,190,213,0.85) 85%,rgba(0,190,213,0.87) 87%,#00bed5),linear-gradient(126deg,rgba(0,190,213,0),#00bed5),linear-gradient(#594099,#594099);
    padding: 15px;
    align-items: center;
    display: flex;
    /* justify-content: center; */
}
.scbwi-icon-wrap{
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    min-width: 50px;
    margin-right: 15px;
}