.offer_in_rating_place{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background: #00b5f4;
    display: inline-block;
    margin: 30px 0 0;
    float: right;
    padding: 5px;
}
.offer_in_rating_wrap .inf-p{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
    padding: 15px;
    margin-bottom: 15px ;
    margin-top: 2%;
}
.offer_in_rating_wrap{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
    padding: 15px;
    margin-bottom: 15px;
}