.header-search-js {
    float: right;
    margin: 19px 8px 0 0;
    opacity: .4;
    cursor: pointer;
    font-size: 18px !important;
}
.search-form-js {
    display: none;
}
.jsFadeIn {
    opacity: 1;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}