@media screen and (min-width: 768px) {
    .authors_code_block {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .authors_code_block .author_img{
        width: 30%;
    }
    .authors_code_block .author_text{
        width: 60%;
    }
}
.author_in_post {
    border: 3px solid #00b6f7 !important;
    background: #F6F6F6;
    padding: 15px 15px 0 15px;
}
.author_name {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}